In [1]:
import pandas as pd
import operator

In [2]:
file_election_data = "election_data.csv"

In [3]:
Total_Votes = pd.read_csv(file_election_data)
Total_Votes.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
Casted_Votes = Total_Votes[['Voter ID']].count()

In [5]:
Total_Voter_Count = Casted_Votes['Voter ID']

In [6]:
Total_Voter_Count

3521001

In [7]:
winner_candidates = Total_Votes.groupby('Candidate').count()[['Voter ID']]
winner_candidates

           Voter ID
Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630

In [8]:
winner_candidates['percentage'] = (winner_candidates['Voter ID']/Total_Voter_Count)*100

In [9]:
winner_candidates['Results in Percentages'] = round(winner_candidates['percentage'],1)

In [10]:
del winner_candidates['percentage']

In [11]:
final_winner = winner_candidates.loc[winner_candidates['Voter ID'].idxmin()]

In [12]:
winner_candidates

           Voter ID  Results in Percentages
Candidate
Correy       704200                    20.0
Khan        2218231                    63.0
Li           492940                    14.0
O'Tooley     105630                     3.0

In [13]:
final_winner = max(winner_candidates["Voter ID"].iteritems(), key=operator.itemgetter(1))[0]

In [14]:
final_winner

'Khan'

In [15]:
print('Total voter count: ', Total_Voter_Count)
print (winner_candidates)
print('Elected Candidate: ', final_winner)

Total voter count:  3521001
           Voter ID  Results in Percentages
Candidate
Correy       704200                    20.0
Khan        2218231                    63.0
Li           492940                    14.0
O'Tooley     105630                     3.0
Elected Candidate:  Khan